<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651571145377-mi08bgpvbumo06g5k1k59bmptbbkecs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651571145377-mi08bgpvbumo06g5k1k59bmptbbkecs8</string>
	<key>API_KEY</key>
	<string>AIzaSyAkusdmxNvBFiavL1sEm4pZgctoMUgBBFo</string>
	<key>GCM_SENDER_ID</key>
	<string>651571145377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devlomers.dvm.expoIn</string>
	<key>PROJECT_ID</key>
	<string>expoin-4f28f</string>
	<key>STORAGE_BUCKET</key>
	<string>expoin-4f28f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651571145377:ios:8e96380f047b2da44e5ee0</string>
</dict>
</plist>